<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <!-- Console appender for tests -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Memory appender for test assertions -->
    <appender name="MEMORY" class="ch.qos.logback.core.read.ListAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Test-specific loggers -->
    <logger name="com.fraudguard" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="MEMORY"/>
    </logger>
    
    <logger name="org.springframework.test" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.testcontainers" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
